[submodule "Resources/Private/Vendor/typo3-docs-typo3-org-resources"]
	path = Resources/Private/Vendor/typo3-docs-typo3-org-resources
	url = https://github.com/marble/typo3-docs-typo3-org-resources.git
[submodule "Resources/Private/Vendor/RestTools"]
	path = Resources/Private/Vendor/RestTools
	url = git://git.typo3.org/Documentation/RestTools.git
